.guest-cart-buttons {
	display: flex;
	flex-direction: row;
}

.gc-add-to-cart-mini-menu-cart-items {
/*	background: linear-gradient(90deg, rgb(73,63,252,1) 0%, rgba(110, 94, 254) 100%);*/
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
	justify-content: flex-start;
	border-color: #6e5efe;
	border-style: double;
	margin-left: 10px;
	margin-right: 10px;
	border-width: 3px thin;
	border-bottom: 9px;

}
.gc-space-out-quantity-and-buttons {
	display: flex;
    flex: 1;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;

}

.cart-attributes {
	display: flex;
	flex-direction: column;
}

.gc-cart-traits {
	display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: center;
	padding-left: 15px;
	padding-top: 10px;
	margin: 20px;
}

.gc-mini-menu-title {
	font-size: 18px;
	color: black;
	padding-top: 2px;
	padding-right: 10px;
	padding-left: 60px;
	padding-bottom: 2px;

}

.gc-row-container {
	display: flex;
	flex-direction: row;
}

.gc-right-floated-content {
	display: flex;
    flex-direction: row;
    align-items: flex-start;
	justify-content: flex-start;
	min-width: calc(100vw / 8);
}

#gc-mini-nav-button-element {
	display: flex;
	justify-content: flex-end;
	align-self: center;
	background-color: transparent;
	border: none;
	margin: 5px;
}

#gc-button-plus {
	padding: 10xp;
	background-color: green;
	opacity: 75%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 15px;
    font-size: 30px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 30px;
	box-shadow: 0 6px #999;
}

#gc-button-plus:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#gc-button-minus {
	padding: 10xp;
	background-color: red;
	opacity: 75%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 10px;
    font-size: 30px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 30px;
	box-shadow: 0 6px #999;
}

#gc-button-minus:active {
  background-color: #F88379;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.gc-mini-menu-select {
	font-size: 16px;
	color: black;
	padding-top: 3px;
	padding-right: 6px;
	padding-left: 6px;
	margin-left: 15px;
	padding-bottom: 6px;
    align-items: flex-start;
	justify-content: flex-start;
}

#gc-red-delete-button-minus {
	padding: 10xp;
	background-color: red;
	opacity: 75%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 10px;
    font-size: 14px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 6px #999;
}
#gc-red-delete-button-minus:active {
  background-color: #F88379;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.gc-red-delete-button {
	font-size: 8px;
	color: red;
	padding-top: 3px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 6px;
    align-items: flex-start;
	justify-content: flex-start;
}

.gc-mini-nav-card {
	display: flex;
	margin: 10px;
}

#gc-button-minus {
  background-color: #F88379;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}