.add-to-cart-mini-menu {
	border-color: #6e5efe;
	border-style: double;
	margin-left: 10px;
	margin-right: 10px;
	justify-content: space-evenly;
	align-items: center;
	border-width: 9px thin;
    background-color: #493ffc;
    min-width: calc(100vw / 2);
}

.mini-menu-title {
	margin-top: 40px;
	font-size: 20px;
	color: white;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.visible-mini-cart {
	background-color: #ffe6f2;
	display: block;
}