#product-description {
	font-size: 12px;
}

.products-list {
	display: flex;
	overflow: visible;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	padding: 30px;
}

.product-item {
	display: flex;
	flex-direction: column;
	width: 275px;
	height: 400px;
	padding: 30px;
	margin: 16px;
	border: inset;
	margin-left: 10px;
	margin-right: 10px;
	justify-content: space-evenly;
	align-items: center;


} 